@import "../../identity";

.div__landing_wrap{
    
    background: $BackgroundTexture;
    
}

.section__landing{
    height: 100vh;
    display: flex;
    justify-content: center;
    
    & .div_profilePic{
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        & img{
            // border: 15px solid $white !important;
            border-radius: 50%;
        }

    }   
}


.div__hint{
    display: flex;
    line-height: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 300;
    bottom: 15%;
    font-size: 1.4rem;
    color:#333;
    letter-spacing: -2px;

    animation: hintBounce 2s ease-in-out infinite alternate;

    & .image__arrow{

        --size: 25px;

        width: var(--size);
        height: var(--size);

    }
}


.div__popup_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    padding: 50px;
    background: #111A;

    z-index: 10;

    & .div__image{    
        position: relative;
        width: 50vw;
        aspect-ratio: 16/7.8;
        border-radius: 20px;
        overflow: hidden;
    }

    & h3{
        padding: 10px 20px;
        border-radius: 20px;
        color: #eee;
        font-size: 3rem;
        margin-top: 20px;
        background-color: #444a;

        
    }

    & .div__buttons{
        padding-top: 10px;
        display: flex;
        align-items: center;
    }

    & > *{
        animation: slideIn 1s ease forwards;
    }

    animation: fadeBg .3s ease forwards;
    
}


@media (max-width: 600px){
    
    .div_profilePic{
        width: 80%;
    }

    .div__popup_wrap{
        & .div__image{
            width: 80vw;
        }
        & h3{
            padding: 10px;
            font-size: 1.6rem;
        }
    }
}



@keyframes hintBounce{

    from{
        transform: translateY(0px);
        filter: brightness(30%);
    }
    to{
        transform: translateY(30px);
        filter: brightness(200%);
    }

}

@keyframes slideIn{

    from{
        transform: translateY(-1500px);
    }
    to{
        transform: translateY(0);
    }

}

@keyframes fadeBg{

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
