

.div__grid_main{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    margin-top: 120px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 100px;
}

