
.div__postcard_main{
    position: relative;

    width: 100%;

    overflow: hidden;
}


.div__postcard{
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    // min-height: 500px;

    background: #333;
    border-radius: 6px;

    overflow: hidden;
}



.div__thumbnail{
    position: relative;
    height: 240px;
    // background: red;
    // aspect-ratio: 3/1;
    font-style: italic;

    overflow: hidden;

    & img{
        position: absolute;
        top: 0;
        
        &.img__bg{
            filter: blur(2px);
            object-fit: cover;
        }
        &.img__fg{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

.div__info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    word-wrap: break-word;
    

    & h3{
        color: #ddd;
        font-size: 1.8em;
    }
    & p{
        color:#888;
        font-style: italic;
    }
}

.div__tags{
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    padding: 10px;
    padding-top: 15px;
    flex-wrap: wrap;

    & hr{
        position: absolute;
        top: 0;
        background: #444;
        border: none;
        width: 96%;
        left: 2%;
        height: 2px;
    }

    & .div__tag{
        padding: 4px 8px;
        background: #666;
        color: #ccc;
        border-radius: 6px;
        font-weight: 500;

        &:hover{
            filter: brightness(120%);
            cursor: pointer;
        }
    }
}