.div__footer_main{
    position: relative;

    width: 100%;
    height: 100vh;
}


.div__hr{
    position: absolute;
    top: 100px;
    left: 50%;

    width: 60vw;
    height: 3px;
    transform: translateX(-50%);
    
    border-radius: 10px;
    background: #666;
}


.div__credits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

    width: 80%;
    margin: auto;
    height: 100%;
    text-align: center;

    & p{
        max-width: 400px;
        color: #eee;

        & span{
            color: #ffe600;
        }

        &:nth-child(2){
            color:#666;
            font-weight: 100;
            font-style: italic;
        }
    }
}


.div__social{
    position: absolute;
    width: 100%;
    bottom: 10vh;

    display: flex;
    justify-content: center;
    gap:40px;

    
    
    filter: invert(25%);
    transition: all .3s ease;
    
    & img:hover{
        filter: invert(100%);
    }
}