@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import "identity";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    & *::selection{
        color: #111;
        background-color: rgb(235, 180, 0);
        
    }
}

html, body{
    background: $BackgroundTexture;
    font-family: $MainFont, "Arial";
}

html {
    font-family: $font1;
    scrollbar-width: none;
    // scroll-behavior: smooth;

}  
body{
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    display: none;
}
