@import "../../../identity";



.div__body_wrap{
    display: flex;
    position: relative;
    padding-top: 140px;

    // DEBUG
    min-height: 100vh;
}

@media (max-width: 1100px){

    .div__body_wrap{
        padding-top: 50px;
    }

}