.div__header{
    position: relative;
    width: 100%;
    height: 50vh;
    background: #111111aa;

    font-size: 1rem;
}



.div__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;

    & .div__logo{
        position: relative;
        height: 60%;
        width: 30%;
    }

    & nav{
        display: flex;
        gap: 40px;
        padding-right: 50px;
    }
}



.div__quote{
    width: 100%;
    color: #eee;
    position: absolute;
    bottom: 20vh;

    & p{
        font-size: 3em;
        text-align: center;
        font-weight: 600;
    }
}