@import "../../identity";

.button__main{
    padding: 15px 30px;
    background: none;
    border:none;
    
    color: #eee;
    font-family: $MainFont, "Arial";
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    
    filter: brightness(70%);

    transition: all .1s ease;
    
    &:hover{
        outline:4px solid;
        filter: none;
    }

}